.Pagina-Vendedor{
    background-image: url('C:\Users\danie\OneDrive\Escritorio\Proyecto-integrador2\Frontend\src\components\image\Fondo-vendedores.jpg');
    width: 100vw;
    height: 100vh;
}

.texto-desarrollo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    font-size:100px;
}